<div class="card-container">
Sus preferencias son:
	<div class="card-container">
		<md-card *ngFor="let preferencia of preferencias">
		<label>
		  <input type="checkbox" value="{{preferencia.getId()}}" 
		  (change)="checkboxes[$event.target.getAttribute('value')]=$event.target.checked"
		  [checked]="checkboxes[preferencia.getId()]">
        {{ preferencia.getName() }}</label>
		</md-card>
	</div>

</div>
<div class="wrapper">
<button md-raised-button type="submit" (click)="savePreferences()" color="accent">Guardar</button>
</div>
