
<div ng-controller="RubrosCtrl" class="card-container">
Sus preferencias son:
<div ng-controller="RubrosCtrl" class="card-container">
	<md-card *ngFor="let preferenciaUser of preferenciasPorUsuario">
  		{{preferenciaUser.name}}
	</md-card>
</div>
</div>

<div ng-controller="RubrosCtrl" class="card-container">
Elija nuevas preferencias:
<div ng-controller="RubrosCtrl" class="card-container">
	<md-card *ngFor="let preferencia of preferencias">
	  <md-checkbox [checked]="true" [ngClick]="updateMessage(preferencia.id, preferencia.description)" [(ngModel)]="preferencia.description"  class="green" align="left">
  		{{preferencia.name}}
	  </md-checkbox>
	</md-card>
	</div>
</div>


<div class="wrapper">
<button md-raised-button type="submit" (click)="savePreferences()" color="accent">Guardar</button>
</div>