<h3 class="seccion-title">Vidriera</h3>
<div class="card-container">
	<md-card *ngFor="let articulo of articulos">
	  <img md-card-image [alt]="articulo.name" src="default-store-350x350.jpg">
	  <md-card-title>{{articulo.name}}</md-card-title>

	  <md-card-content class="secondary">
	    <h4>Precio: ${{articulo.cost}}</h4>
	  </md-card-content>
	  <md-card-actions align="end">
	    <button md-button color="primary">Ver Detalle</button>
	    <button md-button color="primary">Comprar</button>
	  </md-card-actions>
	</md-card>
</div>

  <h3 *ngIf="isLogged" class="seccion-title">Recomendados para vos</h3>
  <div class="card-container">
    <md-card *ngFor="let articulo of articulosPorUsuario">
	  <img md-card-image [alt]="articulo.name" src="default-store-350x350.jpg">
	  <md-card-title>{{articulo.name}}</md-card-title>

	  <md-card-content class="secondary">
	    <h4>Precio: ${{articulo.cost}}</h4>
	  </md-card-content>
	  <md-card-actions align="end">
	    <button md-button color="primary">Ver Detalle</button>
	    <button md-button color="primary">Comprar</button>
	  </md-card-actions>
    </md-card>
  </div>	

