<h3 class="seccion-title">Vidriera</h3>
<div class="card-container">
	<md-card *ngFor="let producto of productos">
	  <img *ngIf="!producto.getImageFileName()" md-card-image [alt]="producto.getName()" src="default-store-350x350.jpg">
	  <img *ngIf="producto.getImageFileName()" md-card-image [alt]="producto.getName()" src="{{hostImage + producto.getImageFileName()}}">

	  <md-card-title>{{producto.getName()}}</md-card-title>

	  <md-card-content class="secondary">
	    <h4>Precio: ${{producto.getCost()}}</h4>
	    <!--h4 *ngIf="producto.getFree()" >Obtenelo <span>GRATIS</span></h4-->
	  </md-card-content>
	  <md-card-actions align="end">
	    <button md-button color="primary" (click)="realizarOrden(producto);" >Comprar</button>
	  </md-card-actions>
	</md-card>
</div>

<h3 *ngIf="isLogged" class="seccion-title">Recomendados para vos</h3>
<div *ngIf="isLogged" class="card-container">
	<md-card *ngFor="let producto of prodRecomendados">

	  <img *ngIf="!producto.getImageFileName()" md-card-image [alt]="producto.getName()" src="default-store-350x350.jpg">
	  <img *ngIf="producto.getImageFileName()" md-card-image [alt]="producto.getName()" src="{{hostImage + producto.getImageFileName()}}">

	  <md-card-title>{{producto.getName()}}</md-card-title>

	  <md-card-content class="secondary">
	    <h4>Precio: ${{producto.getCost()}}</h4>
	  </md-card-content>
	  <md-card-actions align="end">
	    <button md-button color="primary" (click)="realizarOrden(producto);" >Comprar</button>
	  </md-card-actions>
	</md-card>
</div>	

