.card-container {
  display: flex;
  flex-flow: row wrap;
}

md-card {
  width: 200px;
  box-sizing: border-box;
  margin: 16px;
}

md-card-title {
    font-size: 20px;
    font-weight: 400;
}

.seccion-title{
	font-size: 20px;
    font-weight: 400;
    font-family: Roboto, "Helvetica Neue", sans-serif;
    padding-left: 20px;
    margin-bottom: 0px;
}
