<div class="message" style="color:#FF0000" *ngIf="mensjRegAceptado">{{mensjRegAceptado}}</div>
<div class="message" *ngIf="message">
<h3 class="seccion-title">{{message}}</h3>
</div>
<div class="card-container">
  <h3 *ngIf="!tieneRegalos">Todav&iacute;a no tenes ning&uacute;n regalo</h3>
  <md-card *ngFor="let regalo of noCanjeados">
    <div class="my-image">
      <img md-card-image [alt]="regalo.getName()" src="{{hostImage + regalo.getImageFileName()}}">
    </div>

    <div class="my-image-detail">
      <md-card-title>{{regalo.getName()}}</md-card-title>
      <md-card-subtitle>{{regalo.getBrand()}}</md-card-subtitle>
      <div class="message" style="color:#FF0000" *ngIf="regalo.getCodigo() == codigoRegaloProxAVencer">¡Atención! Este es tu regalo que está más próximo a expirar.</div>
    </div>
    <md-card-actions layout="row" layout-align="end center">
      <button md-raised-button (click)="canjear(regalo)" color="primary">Aceptar</button>
      <button md-raised-button (click)="regalar(regalo);" color="primary">Regalar</button>
    </md-card-actions>

  </md-card>
      
</div>
<div class="message" *ngIf="messageCanj">
<h3 class="seccion-title">{{messageCanj}}</h3>
</div>
<div class="card-container">
  <md-card *ngFor="let reg of canjeados">
  <img align="right" src="{{hostImage + reg.getImageFileName()}}" height="150" width="150">
        <md-card-title>
          <md-card-title-text>
            <span class="md-headline">{{reg.getName()}}</span>
            <span class="md-subhead"></span>
          </md-card-title-text>
          <md-card-content>
          <p> </p>
          <p><u>Código:</u> {{reg.getCodigo()}}</p>
      </md-card-content>
        </md-card-title>
 
      </md-card>
      
</div>
<div class="message" *ngIf="titRegExpir">
<h3 class="seccion-title">{{titRegExpir}}</h3>
</div>
<div class="card-container">
  <md-card *ngFor="let exp of expirados">
  <img align="right" src="{{hostImage + exp.getImageFileName()}}" height="150" width="150">
        <md-card-title>
          <md-card-title-text>
            <span class="md-headline">{{exp.getName()}}</span>
            <span class="md-subhead"></span>
          </md-card-title-text>
          <md-card-content>
          <p> </p>
          <p><u>EXPIRADO</u></p>
      </md-card-content>
        </md-card-title>
 
      </md-card>
      
</div>

