<md-sidenav-layout fullscreen>
	<md-sidenav #sidenav>
	    <md-nav-list>
	      <a md-list-item [routerLink]="['Vidriera']" routerLinkActive="active" (click)="sidenav.close()">
	        <md-icon md-list-icon>home</md-icon>
	        <span md-line>Home</span>
	      </a>
	      <a md-list-item [routerLink]="['Registracion']" *ngIf="!isLogged" routerLinkActive="active" (click)="sidenav.close()">
	        <md-icon md-list-icon>assignment ind</md-icon>
	        <span md-line>Registrarme</span>
	      </a>
	      <a md-list-item [routerLink]="['Rubros']" *ngIf="isLogged" routerLinkActive="active" (click)="sidenav.close()">
	        <md-icon md-list-icon>assignment ind</md-icon>
	        <span md-line>Mis Preferencias</span>
	      </a>
	      <a md-list-item [routerLink]="['Regalos']" *ngIf="isLogged" routerLinkActive="active" (click)="sidenav.close()">
	        <md-icon md-list-icon>list</md-icon>
	        <span md-line>Mis regalos</span>
	      </a>
	      <a md-list-item [routerLink]="['Vidriera']" *ngIf="isLogged" routerLinkActive="active" (click)="doLogout();sidenav.close()">
	        <md-icon md-list-icon>list</md-icon>
	        <span md-line>Cerrar sesion</span>
	      </a>
	    </md-nav-list>
  	</md-sidenav>

  	<md-sidenav #sidenavNotificacion align="end">
  		<md-toolbar color="warn">Notificaciones</md-toolbar>
  		<form>
          <md-nav-list>
		      <a md-list-item *ngFor="let notificacion of notificaciones">	        
		        <span md-line>{{notificacion.getSender()}} te a enviado un regalo</span>
		      </a>
			  <a md-list-item (click)="limpiarNotificaciones();sidenavNotificacion.close()">
		        <a [routerLink]="['Regalos']" style="color: blue;
					text-decoration: underline;">Ver regalos</a>
		      </a>
		      <a md-list-item>		      		    	
		        <button (click)="limpiarNotificaciones();sidenavNotificacion.close()" md-raised-button color="warn">Ok</button>
		      </a>	      
		    </md-nav-list>
        </form>
  	</md-sidenav>
  	
	<md-toolbar color="warn" >
		<button md-icon-button (click)="sidenav.open()">
		  <md-icon>menu</md-icon>
		</button>
		<a md-list-item [routerLink]="['Vidriera']" routerLinkActive="active" (click)="sidenav.close()">
	    	<img src="http://oi67.tinypic.com/23kuk29.jpg" alt="Logo" width="50" height="65" >
	    </a>
		<span>{{title}}</span>
		<!-- This fills the remaining space of the current row -->
  		<span class="toolbar-fill-remaining-space"></span>

  		<div *ngIf="tieneNotificacion">
  			<span md-line>
				<button md-icon-button (click)="sidenavNotificacion.open()">				
				    <md-icon aria-hidden="true" md-svg-src="img/icons/ic_notifications_active_24px.svg" class="name">
	                   <svg width="24" height="24" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg"><path d="M7.58 4.08L6.15 2.65C3.75 4.48 2.17 7.3 2.03 10.5h2c.15-2.65 1.51-4.97 3.55-6.42zm12.39 6.42h2c-.15-3.2-1.73-6.02-4.12-7.85l-1.42 1.43c2.02 1.45 3.39 3.77 3.54 6.42zM18 11c0-3.07-1.64-5.64-4.5-6.32V4c0-.83-.67-1.5-1.5-1.5s-1.5.67-1.5 1.5v.68C7.63 5.36 6 7.92 6 11v5l-2 2v1h16v-1l-2-2v-5zm-6 11c.14 0 .27-.01.4-.04.65-.14 1.18-.58 1.44-1.18.1-.24.15-.5.15-.78h-4c.01 1.1.9 2 2.01 2z"/></svg>                 
	                </md-icon>              
				</button>
			</span>
		</div>
  		
  		<div *ngIf="isLogged" class="my-perfil-link">
			<a md-list-item [routerLink]="['Rubros']">
	        	<span md-line>{{userState.user.email}}</span>
	      	</a>
		</div>
		<div *ngIf="!isLogged" class="my-login-link">
			<a md-list-item [routerLink]="['Login']">
	        	<span md-line>Login</span>
	      	</a>
		</div>
	</md-toolbar>
	<router-outlet></router-outlet>
</md-sidenav-layout>

