.card-container {
  display: flex;
  flex-flow: row wrap; 
}


.container {
  width: 291px;
  margin: 0 auto;
  margin-top: 20px;
}

.error{
  color: #F44336;
  font-family: inherit;
  margin-bottom: 10px;
}

md-input{
  width: 100%;
}


.my-progress-circle {
  margin: 0 auto;
  width: 100px;
}