.container {
  width: 700px;
  margin: 0 auto;
  margin-top: 20px;
}

.form-select {
	font: inherit;
    background: transparent;
    border: none;
    outline: none;
    padding: 0;
    width: 100%;
    border-bottom-style: ridge;
    margin-top: 10px;
    margin-bottom: 10px;
}
.form-message{
    font-style: inherit;
    font-variant: inherit;
    font-weight: inherit;
    font-stretch: inherit;
    font-size: inherit;
    line-height: inherit;
    font-family: inherit;
    border-width: initial;
    border-style: none none ridge;
    border-color: initial;
    outline: none;
    padding: 0px;
    width: 100%;
    margin-top: 10px;
    margin-bottom: 10px;
    height: 39px;
    background: transparent;
}

.form-dropdown{
    width: 90%;
}

.my-radio-group{
    width: 100%;
}
.my-radio{
    
}
.my-progress-circle {
  margin: 0 auto;
  width: 100px;
}

md-card-subtitle p {
  color:black;
}

@media only screen and (min-width: 300px) and (max-width: 500px) {
  .container {
    width: 310px;
    margin: 0 auto;
    margin-top: 20px;
  }

  md-card-actions {
    margin: 0 auto;
  }
}